<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleziona Formazione</title>
</head>
<body>
    <form action="/submit" method="POST">
        <label for="corso">Seleziona il corso:</label>
        <select id="corso" name="corso">
            <option th:each="corso : ${corsi}" th:value="${corso}" th:text="${corso}"></option>
        </select>
        <br><br>
        <button type="submit">SEND</button>
    </form>
</body>
</html>
